version: '3.7'

services:
  breedbase:
    environment:
      PGDATABASE: cxgn_nicotiana
      PGHOST: db8.sgn.cornell.edu
    volumes:
    #####      - webdata:/home/production/volume
      - type: bind
        source: /home/production/nicotianabase/sgn_local.conf
        target: /home/production/cxgn/sgn/sgn_local.conf
      - type: bind
        source: /home/production/nicotianabase
        target: /home/production/cxgn/nicotianabase
      - type: bind
        source: /export/prod/blast/databases/current/
        target: /home/production/blast
      - type: bind
        source: /home/production/nicotianabase/BAT_logo.png
        target: /home/production/cxgn/sgn/static/documents/img/nicotianabase/BAT_logo.png
      - type: bind
        source: /home/production/sgn_for_nicotianabase
        target: /home/production/cxgn/sgn
      - type: bind
        source: /export/prod/public_nicotiana/db_dumps
        target: /db_dumps
      - type: bind
        source: /export/prod/public_nicotiana/archive
        target: /home/production/archive
      - type: bind
        source: /export/prod/public_nicotiana/tmp
        target: /home/production/tmp
      - type: bind
        source: /export/prod/public_nicotiana/public/images
        target: /home/production/public/images
      - type: bind
        source: /export/prod/public_nicotiana/logs
        target: /home/production/logs
      - type: bind
        source: /export/prod/public_nicotiana/cache
        target: /home/production/cache
      - type: bind
        source: /export/prod/public_nicotiana/cluster
        target: /home/production/cluster
      - type: bind
        source: /export/prod/public_nicotiana/public/genefamily
        target: /home/production/public/genefamily
      - type: bind     
        source: /export/prod/public_nicotiana/public/static_content
        target: /home/production/public/static_content
      - type: bind
        source: /home/production/nicotianabase/bash_history
        target: /home/production/.bash_history

    ports:
      - 8939:8080
    image: breedbase/breedbase:latest
 #   depends_on:
 #     - breedbase_db
    container_name: breedbase_web_nicotiana

  # breedbase_db:
  #   volumes:
  #     - dbdata:/var/lib/postgresql/data
  #   image: postgres:12.6
  #   container_name: breedbase_db
  #   environment:
  #     POSTGRES_DB: breedbase
  #     POSTGRES_PASSWORD: postgres
  #   healthcheck:
  #     test: "pg_isready -U postgres -d breedbase || exit 1"
  #     interval: 10s

#volumes:
#  webdata:
#  dbdata:

